<div class="book-container">
  <nz-card nzTitle="Book info" *ngFor="let book of books">
    <p><b>Authors: </b> {{ book.authors?.join() }}</p>
    <p><b>Country: </b> {{ book.country }}</p>
    <p><b>ISBN: </b> {{ book.isbn }}</p>
    <p><b>Media type: </b> {{ book.mediaType }}</p>
    <p><b>Name: </b> {{ book.name }}</p>
    <p><b>Number of pages: </b> {{ book.numberOfPages }}</p>
    <p><b>Publisher: </b> {{ book.publisher }}</p>
    <p><b>Released: </b> {{ book.released | date: 'medium' }}</p>
  </nz-card>
</div>
