nz-table {
  border: 1px solid gainsboro;
}

.pagination-center {
  text-align: center;
  margin-top: 2em;
}

.filter-center {
  display: flex;
  margin: 1em auto;
}

.filter-item {
  display: flex;
  & > label {
    flex-basis: 40%;
  }
}
