nz-table {
  border: 1px solid gainsboro;
  & .table-body-item {
    cursor: pointer;
  }
}

.pagination-center {
  text-align: center;
  margin-top: 2em;
}

.filter-form {
  display: flex;
  flex-direction: column;
  & .filter-item {
    display: flex;
    margin-bottom: 1.5em;
    & > label {
      flex-basis: 20%;
    }
  }
}

.filter-center {
  display: flex;
  margin: 2em auto;
}
