*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  border: none;
  font: inherit;
}

input[type='checkbox'] {
  vertical-align: middle;
  scale: 1.5;
  margin-right: 5px;
}
