<div class="login-page">
  <div class="header-title">
    <img
      src="../../../assets/images/openwt-logo-red-white.svg"
      alt="open-wt-logo"
      class="logo"
    />
  </div>
  <form
    class="login-form"
    nz-form
    [formGroup]="loginForm"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <input
          type="text"
          nz-input
          formControlName="username"
          placeholder="Username"
          autocomplete="username"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your password">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
          autocomplete="current-password"
        />
      </nz-form-control>
    </nz-form-item>
    <button nz-button type="submit" [nzType]="'primary'">Log in</button>
  </form>
</div>
