<nz-header class="app-header">
  <div class="logo" routerLink="/">
    <img
      src="../../../assets/images/openwt-logo-red-black.svg"
      alt="openwt-log"
    />
  </div>
  <ul
    class="menu-header active"
    [ngClass]="{ active: visible }"
    nz-menu
    [nzMode]="'horizontal'"
  >
    <li nz-menu-item>
      <button
        nz-button
        nzType="dashed"
        nzShape="circle"
        (click)="handleSearchBox()"
      >
        <span nz-icon nzType="search"></span>
      </button>
    </li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected">
      <a [routerLink]="['/', 'books']">Books</a>
    </li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected">
      <a [routerLink]="['/', 'characters']">Characters</a>
    </li>
    <li nz-menu-item routerLinkActive="ant-menu-item-selected">
      <a [routerLink]="['/', 'houses']">Houses</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/login">Log in</a>
    </li>
  </ul>
  <div class="mobile-menu" (click)="onClickMenu()">
    <span
      nz-icon
      [nzType]="!visible ? 'menu' : 'close'"
      nzTheme="outline"
    ></span>
  </div>
</nz-header>
<!-- search modal -->
<nz-modal
  [(nzVisible)]="isSearchModalVisible"
  nzTitle="Find any resource"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleSubmitSearch()"
>
  <ng-container *nzModalContent>
    <form nz-form class="search-element" [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please choose one resource">
          <nz-select
            formControlName="resourceName"
            nzPlaceHolder="Select a resource"
          >
            <nz-option
              *ngFor="let resource of resources"
              [nzValue]="resource"
              [nzLabel]="resource | titlecase"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <input type="text" nz-input formControlName="name" />
    </form>
  </ng-container>
</nz-modal>
