nz-table {
  border: 1px solid gainsboro;
  & .table-body-item {
    cursor: pointer;
  }
}

.pagination-center {
  text-align: center;
  margin-top: 2em;
}

.date-filter {
  margin: 2em 0em;
  text-align: center;
}
